.custom_button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  width: auto;

  &:hover {
    background-color: #4CAF50;
    color: white;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
    opacity: .7;
    pointer-events: none;
  }

  &--size-sm {
    padding: 8px 16px;
  }
}
