.spinner {
  position: relative;

  &__element {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background: rgba(256, 256, 256, .7);
    pointer-events: none;
  }
}